*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: rgba(228, 227, 220, 0.87);
}
#body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Para1 {
    color: rgb(255, 255, 255);
}
#cityInput, #cityName, #inputContainer,button{
    margin: 10px;
    padding: 7px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    border-radius: 20px;
    color: rgb(13, 13, 14);
    border-color: rgb(177, 16, 123);
}

button {
    background-color: rgb(85, 116, 255);
    margin-left: 30px;
    margin-top: -100px;
    color: rgba(13, 12, 14, 0.87);
    box-shadow: 5px 5px black;
}

#weatherContainer{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 900px;    
 
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    height: 500px;
    flex-direction: row;    
}

.icons{
    display: inline-block;
    height: 200px;
    width: 150px;
    margin: 20px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(12, 12, 14);
    background-color:  rgb(98, 96, 100);
    border-radius: 30px;
}

.image{
    height: 100px;
    width: 100%;
}

.imgClass{

    height: 6rem;
    width: 70%;
    padding-left: 30px;
}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 105px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 105px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 20px;
}

@media screen and (max-width:2500px) {
    #body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 900px;
    }

    #weatherContainer{
        position: absolute;
        top: 65%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 850px;    
        
    }
    
    #iconsContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        margin-top: 100px;
        transform: translate(-50%, -50%);
        height: 500px;
        flex-direction: row;    

    }
    
    .icons{
        display: inline-block;
        height: 200px;
        width: 150px;
        margin: 20px;
        color: rgb(255, 255, 255);
        border: 5px solid rgb(28, 28, 29);
        background-color:  rgb(113, 121, 122);
        
    }
}

@media screen and (max-width:1050px) {
    #body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 1200px;
    }
    #weatherContainer{
        position: absolute;
        top: 80%;
        left: 50%;
    }
    
    #iconsContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        margin-top: 100px;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 750px;
        flex-direction: row;    
       
    }
    
    .icons{
        display: inline-block;
        height: 200px;
        width: 145px;
        margin: 20px;
        color: rgb(255, 255, 255);
        border: 5px solid rgb(17, 17, 17);
        background-color:  rgb(124, 124, 129);
        
    }
}

@media screen and (max-width:750px) {
    #body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 1600px;
    }
    #weatherContainer{
        position: absolute;
        top: 90%;
        left: 50%;
    }
    
    #iconsContainer{
        position: absolute;
        top: 100%;
        left: 50%;
        margin-right: -50%;
        margin-top: 100px;
        transform: translate(-50%, -50%);
        height: 1250px;
        flex-direction: row; 
    }
    
    .icons{
        display: inline-block;
        height: 260px;
        width: 240px;
        margin: 20px;
        color: rgb(255, 255, 255);
        background-color:  rgb(154, 163, 173);
    
    }
}

@media screen and (max-width:650px) {
    #body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 2900px;
    }
    #weatherContainer{
        position: absolute;
        top: 85%;
        left: 50%;
        margin-left: 10rem;
    }

    #iconsContainer{
        position: absolute;
        top: 100%;
        left: 50%;
        margin-right: -50%;
        margin-top: 100px;
        transform: translate(-50%, -50%);
        height: 1100px;
        flex-direction: column;   
        border: none;
    }
    
    .icons{
        display: inline-block;
        height: 300px;
        width: 250px;
        margin: 20px;
        background-color:  rgb(134, 133, 150);
        
    }

    .image{
        height: 100px;
        width: 100%;
    }
    
    .imgClass{
        height: 6rem;
        width: 30%;
        position: absolute;
        left: 3%;
    }
    
    .weather{
        margin: 5px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    
    .minValues{
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        height: 25px;
        width: 150px;
        margin: 0;
        font-size: 20px;
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 50px;
    }
    
    
    .maxValues{
        text-align: center;
        display: inline-block;
        border-radius: 5px;
        height: 25px;
        width: 150px;
        margin: 0;
        font-size: 20px;
        padding-top: 10px;
        margin-bottom: 5px;
        margin-left: 50px;
    }
    
}